

// $basic:#ff0000;
$basic:rgb(123, 97, 255);
$bg-dark:#111111;
$bg-gray:#181818;
$border-gray:#1d1d1d;
$text-gray:#696969;
$text-gray-light: #777777;
    
    
// border-radius
$rounded-2: 2px;
$primary: #7b61ff;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";